html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("bg1.jpg");
  /* background-image: linear-gradient(white, rgba(160, 158, 158, 0.644)); */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Poppins;

  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* -----------------------------------------------app-------------------------------- */

.app {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  /*---app display----*/
  display: none;
}

.time {
  position: fixed;
  bottom: 0px;
}

.clock {
  color: white;
  font-size: 4.7em;
  margin: 1px;
  margin-left: 15px;
  margin-bottom: 0px;
  display: none;
}

.date {
  color: white;
  font-size: 1.2em;
  margin: 1px;
  margin-bottom: 10px;
  margin-left: 15px;
  display: none;
}

.notif {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.snap {
  background-image: linear-gradient(
    140deg,
    rgba(7, 245, 67, 0.986),
    rgb(161, 233, 182)
  );
  background-color: aliceblue;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

#srcEngineName {
  display: inline;
  color: rgba(92, 93, 94, 0.801);
  opacity: 0.8;
  font-size: small;
  width: 100%;
}

.title {
  display: inline-block;
  margin: 5px;
  font-size: medium;
  color: rgba(49, 49, 49, 0.904);
}

.search {
  background-color: rgb(234, 240, 245);
  width: 60%;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

#btnSearch {
  height: 42px;
  width: 15%;
  border-radius: 30px;
  border-color: white;
  border-style: none;
  background-color: blue;
  margin: 0px;
  margin-top: 0px;
  padding: 1px;
  color: white;
}

#inputSearch {
  width: 60%;
  height: 40px;
  background: none;
  border: 0;
  margin: 0;
  font-size: medium;
}

.inputSearch :active {
  border: none;
}

#searchEngine {
  position: relative;
  right: 0px;
  margin: 0;
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* ---------apps---------- */
.userApp {
  /* add flex or whaterer */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  row-gap: 10px;
  column-gap: 60px;

  margin: 2px;
  background-color: rgba(219, 227, 233, 0.438);
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
  height: 3.5rem;

  opacity: 0;
}

.userApp :hover {
  height: 2rem;
}

.appSnap {
  flex-direction: row;
}
.appSnap img {
  height: 25px;
  width: auto;
}

/* -----------------greeeting------------- */

.greetings {
  color: white;
  font-size: large;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  margin: 20px;
  width: 8em;
}

/* search enigine selector window */
.search-selector {
  position: absolute;
  z-index: 100;
  right: 1rem;
  width: 32rem;
  height: 22rem;
  background-color: rgba(229, 224, 230, 0.753);
  border-style: none;
  border-radius: 10px;
  color: rgb(71, 69, 69);
  /* -----Search engien modal------ */
  display: none;
}

.search-title {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.search-engine-snap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-small {
  height: 2.3rem;
  width: 2.3rem;
}

.search-snap {
  margin: 1rem;
  padding: 0;
}

.search-snap-title {
}

/* -----------------------------------------------Setup-------------------------------- */

.setup {
  display: none;
  margin: 1rem;
}

/* ----setup convo------ */

.setup-convo {
  display: none;
  z-index: 1;
}

.setup-question {
  font-size: 1.5rem;
}

.setup-answer {
  position: fixed;
  background-color: rgba(108, 33, 179, 0.733);
  right: 1rem;
  bottom: 1rem;
  width: 30%;
  height: 10%;
  border-radius: 1rem;
  border-style: none;
}
.setup-answer {
  display: none;
}

.setup-answer input {
  width: 85%;
  height: 97%;
  background-color: rgba(196, 191, 201, 0.767);
  border-style: none;
  border-radius: inherit;
  font-size: larger;
  position: relative;
}

.setup-answer button {
  width: 13.1%;
  height: 100%;
  border-style: none;
  border-radius: inherit;
  opacity: 1;
  font-size: medium;
  background-color: rgb(230, 203, 255);
  color: rgb(2, 2, 2);
  position: absolute;
  right: 0;
}

.setup-btn {
}
/*---------- setup form----------- */
.setup-form {
  height: 40%;
  background-color: blueviolet;
  width: 100vh;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  border-style: none;
  color: white;
  position: relative;
  z-index: 2;
  /* ----form display---------- */
  display: none;
}

.setup-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.setup-radio {
  margin: 5px;
}

.setup-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 2rem;
  width: auto;
  border-style: none;
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* --------- modal-window------------ */

.setup-modal {
  color: rgb(61, 60, 60);
  z-index: 100;
  position: fixed;
  /* -div compensation- */
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /* set to a negative number 1/2 of your width*/
  /* --display- */
  display: none;
}

.setup-modal-title {
  text-align: center;
}

.setup-modal-content {
  text-align: center;
}
/* -----------------------------------------------Display classes-------------------------------- */

.remove {
  display: none;
}
.add {
  display: block;
}
.visible {
  opacity: 1;
}
/* -----------------------------------------------animation classes-------------------------------- */
.fade-in {
  -webkit-animation: fadein 0.51s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.51s; /* Firefox < 16 */
  -ms-animation: fadein 0.51s; /* Internet Explorer */
  -o-animation: fadein 0.51s; /* Opera < 12.1 */
  animation: fadein 0.51s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fadeout 0.51s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.51s; /* Firefox < 16 */
  -ms-animation: fadeout 0.51s; /* Internet Explorer */
  -o-animation: fadeout 0.51s; /* Opera < 12.1 */
  animation: fadeout 0.51s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
